h1 {
  color: green;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-family: cursive;
  font-size: 100px;
  line-height: 26px;
}

h2 {
  color: blue;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 23px;
  line-height: 21px;
}

p {
  color: blue;
  text-align: center;;
  font-style: normal;
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
}

ul {
  color: yellow;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: fantasy;
  font-size: 20px;
  font-weight: normal;
}
